@model List<TicketingSystem.ViewModels.TicketOverviewModel>


@if (!User.HasClaim("IsAdmin", "True"))
    {
      <div class="row justify-content-start m-4">
            <a class="btn btn-success" href="/Ticket/Create">Create new Ticket</a>

       </div>
    }
 else
    {
       <h1>Admin console</h1>
    }


@if (Model.Count == 0)
{
      <h3>There are no Tickets</h3>
}
else
{
    <div class="row col-8 offset-2">
        <table class="table table-bordered table-hover">
            <tr>
                <th> Id</th>
                <th> Title</th>
                <th> Status</th>
                <th> Date Created</th>
                <th> Manage</th>
            </tr>
        @foreach (var ticket in Model)
         {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@ticket.TicketStatus</td>
                <td>@ticket.DateCreated</td>
                <td style="text-align:center">
                    <a href="/Ticket/Details/@ticket.Id" class="btn btn-info">Details</a>

                    @if (!User.HasClaim("IsAdmin", "True"))
                    {
                        <a href="/Ticket/Delete/@ticket.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    }
                </td>
            </tr>
         }
        </table>
    </div>

}


